<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/logo.png" class="img-fluid logo"/></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">Complaint</a>
        </li>
      </ul>
    </div>
    <button *ngIf="user_data==null" type="button" class="btn btn-primary"
    (click)="openLoginModal()">
      Login
    </button>
    <div class="dropdown"
    *ngIf="user_data">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" 
      data-bs-toggle="dropdown" aria-expanded="false">
        {{user_data.name}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <!-- <li><a class="dropdown-item clickable" (click)="profilePress()">Profile</a></li> -->
        <li><a class="dropdown-item clickable" (click)="changePasswordPress()">Change Password</a></li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li><a class="dropdown-item clickable" (click)="logoutPress()">Logout</a></li>
      </ul>
    </div>  
    
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>

  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">{{login_dialog_type | titlecase }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="login_form && login_dialog_type == 'login'" [formGroup]="login_form">
            <div class="row">
                <div class="col-12">
                  <div class="form-group first-last">
                      <label>Email <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" formControlName="email"
                      required placeholder="Enter Email"/>
                      <!-- <div class="row d-flex align-items-center " *ngIf="form_type == 'add'">
                          <span style="color: #00b6f0;" class="font-weight-bold col-2 text-right"> {{complaint_length}} / {{max_length}} </span>
                      </div> -->
                      <p *ngIf="(is_submit || (email!.touched && email!.invalid))"
                          class="text-danger">
                          <span *ngIf="email?.errors?.required">
                          This field required
                          </span>
                          <span *ngIf="email?.errors?.email">
                            Enter valid Email
                        </span>
                      </p>
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group first-last">
                      <label>Pasword <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="password"
                      required placeholder="Enter Password"/>
                      <!-- <div class="row d-flex align-items-center " *ngIf="form_type == 'add'">
                          <span style="color: #00b6f0;" class="font-weight-bold col-2 text-right"> {{complaint_length}} / {{max_length}} </span>
                      </div> -->
                      <p *ngIf="(is_submit || (password!.touched && password!.invalid))"
                          class="text-danger">
                          <span *ngIf="password?.errors?.required">
                          This field required
                          </span>
                      </p>
                  </div>
                  </div>
              </div>
          </form>
          <form *ngIf="login_dialog_type != 'login' && forget_password_form && step == 1" [formGroup]="forget_password_form">
            <div class="row">
                <div class="col-12">
                  <div class="form-group first-last">
                      <label>Email <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" formControlName="forget_password_email"
                      required placeholder="Enter Email"/>
                      <!-- <div class="row d-flex align-items-center " *ngIf="form_type == 'add'">
                          <span style="color: #00b6f0;" class="font-weight-bold col-2 text-right"> {{complaint_length}} / {{max_length}} </span>
                      </div> -->
                      <p *ngIf="(is_submit || (forget_password_email!.touched && forget_password_email!.invalid))"
                          class="text-danger">
                          <span *ngIf="forget_password_email?.errors?.required">
                          This field required
                          </span>
                          <span *ngIf="forget_password_email?.errors?.email">
                            Enter valid Email
                        </span>
                      </p>
                  </div>
                  </div>
              </div>
        </form>
        <!-- && step == 2 -->
        <form *ngIf="login_dialog_type != 'login' && otp_form && step == 2" [formGroup]="otp_form">
            <div class="row">
                <div class="col-12 text-center d-flex mt-2 align-items-center">
                    <label>OTP <span class="text-danger">*</span></label>
                </div>
              </div>
            <div class="row">
              <div class="col-12 text-center d-flex mt-2 align-items-center">
                <div class="form-group col-sm-3 ms-1 me-1" *ngFor="let input of formInput_login;  index as i">
                  <input #formRow type="text" formControlName="{{input}}" class="form-control text-center w-75" 
                  maxlength="1" (keyup)="keyUpEvent($event, i)">
                </div>
              </div>
              <div class="col-12">
                <p class="text-danger" *ngIf="!otp_form.valid && otp_form.touched">
                  Please enter OTP
                </p>
                <p class="text-danger" *ngIf="otp_verify_error.length">
                  {{otp_verify_error}}
                </p>
              </div>
            </div>
            <div class="row mt-2">
            <div class="col-12 text-end">
                <label class="clickable" (click)="resendOTP()">Resend OTP</label>
              </div>
            </div>
        </form>
        <form *ngIf="password_form && step == 3" [formGroup]="password_form">
            <div class="col-12">
              <div class="form-group first-last">
                <label>Password<span class="text-danger">*</span></label>
                <input 
                 class="form-control" formControlName="forget_password"/>
                
                <p *ngIf="(is_submit || (forget_password!.touched && forget_password!.invalid))"
                  class="text-danger">
                  <span *ngIf="forget_password?.hasError('required')">This field is required</span>
                  <span *ngIf="forget_password?.hasError('minlength')">Please enter minumum 4 characters</span></p>
                  
              </div>
    
            </div>
            <div class="col-12">
              <div class="form-group first-last">
                <label>Confirm Password<span class="text-danger">*</span></label>
                <input class="form-control" 
                formControlName="confirm_password"/>
                <p *ngIf="(is_submit || (confirm_password!.touched && confirm_password!.invalid)) 
                && confirm_password!.hasError('required')"
                  class="text-danger">This field is required</p>
                <p *ngIf="confirm_password!.touched && confirm_password!.invalid 
                && confirm_password!.hasError('confirmPasswordValidator')"
                  class="text-danger">
                  Password and Confirm password must be same.</p>
              </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button *ngIf="step==1" type="button" class="btn btn-link" (click)="changeLoginFormPress()">{{change_dialog_type_text}}</button>

          <button type="submit" class="btn btn-primary" (click)="loginFooterButtonPress()">{{login_dialog_footer_button_text}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="change_password_form" [formGroup]="change_password_form">

            <div class="col-12">
              <div class="form-group first-last">
                <label>Old Password<span class="text-danger">*</span></label>
                <input 
                 class="form-control" formControlName="old_password"/>
                
                <p *ngIf="(is_submit || (old_password!.touched && old_password!.invalid))"
                  class="text-danger">
                  <span *ngIf="old_password?.hasError('required')">This field is required</span></p>
                  
              </div>
    
            </div>
            <div class="col-12">
              <div class="form-group first-last">
                <label>New Password<span class="text-danger">*</span></label>
                <input 
                 class="form-control" formControlName="new_password"/>
                
                <p *ngIf="(is_submit || (new_password!.touched && new_password!.invalid))"
                  class="text-danger">
                  <span *ngIf="new_password?.hasError('required')">This field is required</span>
                  <span *ngIf="new_password?.hasError('minlength')">Please enter minumum 4 characters</span></p>
                  
              </div>
    
            </div>
            <div class="col-12">
              <div class="form-group first-last">
                <label>Confirm New Password<span class="text-danger">*</span></label>
                <input class="form-control" 
                formControlName="confirm_change_password"/>
                <p *ngIf="(is_submit || (confirm_change_password!.touched && confirm_change_password!.invalid)) 
                && confirm_change_password!.hasError('required')"
                  class="text-danger">This field is required</p>
                <p *ngIf="confirm_change_password!.touched && confirm_change_password!.invalid 
                && confirm_change_password!.hasError('confirmPasswordValidator')"
                  class="text-danger">
                  Password and Confirm password must be same.</p>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="changePasswordButtonPress()">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="toast-container position-absolute p-3 top-0 end-0 toaster-container-custom">
    <div class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
    [ngClass]="{
      'show':show_toaster,
      'hide':!show_toaster,
      'bg-success':toaster_type=='success',
    'bg-danger':toaster_type=='danger'}">
      <div class="toast-body">
        <div class="d-flex align-items-center justify-content-between">
          {{toaster_message}}
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
</div>
<div class="loading" *ngIf="is_loading">Loading&#8230;</div>