<div class="container mt-3">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <div class="row">
            <div class="col-md-6 col-6">
              <i class="bi bi-ticket-detailed"></i>
            </div>
            <div class="col-md-6 col-6">
                <p class="count-numbers">12</p>
                <p class="count-name">Flowz</p>        
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <div class="row">
            <div class="col-md-6 col-6">
              <i class="bi bi-award"></i>
            </div>
            <div class="col-md-6 col-6">
                <p class="count-numbers">599</p>
                <p class="count-name">Instances</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <div class="row">
            <div class="col-md-6 col-6">
              <i class="bi bi-bank2"></i>
            </div>
            <div class="col-md-6 col-6">
                <p class="count-numbers">6875</p>
                <p class="count-name">Data</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
          <div class="row">
              <div class="col-md-6 col-6">
                <i class="bi bi-pencil-square"></i>
              </div>
              <div class="col-md-6 col-6">
                <p class="count-numbers">35</p>
                <p class="count-name">Users</p>
            </div>
          </div>
        
        
      </div>
    </div>
  </div>
</div>