
  <form *ngIf="add_complaint_form" [formGroup]="add_complaint_form">
    <div class="row mt-3">
      <div class="col-12">
        <div class="form-group first-last">
          <label>Complaint <span class="text-danger">*</span></label>
          <textarea type="text" class="form-control" formControlName="add_complaint"
          [maxlength]="max_length"
          (keyup)="valueChange((add_complaint!.value)?add_complaint!.value.length :0)"
           required placeholder="Complaint"
           ></textarea>
          <div class="row d-flex align-items-center">
            <span style="color: #00b6f0;" class="font-weight-bold col-2 text-right"> {{complaint_length}} / {{max_length}} </span>
          </div>
          <p *ngIf="(is_submit || (add_complaint!.touched && add_complaint!.invalid))"
            class="text-danger">
            <span *ngIf="add_complaint?.errors?.required">
              This field required
            </span>
            <span *ngIf="add_complaint?.errors?.maxLength">
              Max length is {{max_length}}
            </span>
          </p>
        </div> 
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-primary" (click)="onAddComplaint()">
            Submit
        </button>
    </div>
</div>
  <!-- <form *ngIf="edit_complaint_form && form_type == 'edit'" [formGroup]="edit_complaint_form">
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-group first-last">
          <label>Complaint <span class="text-danger">*</span></label>
          <textarea type="text" class="form-control" formControlName="complaint"
          [maxlength]="max_length"
          (keyup)="valueChange((complaint!.value)?complaint!.value.length :0)"
           required placeholder="Complaint"
           ></textarea>
          <p *ngIf="(is_submit || (complaint!.touched && complaint!.invalid))"
            class="text-danger">
            <span *ngIf="complaint?.errors?.required">
              This field required
            </span>
            <span *ngIf="complaint?.errors?.required">
              Max length is {{max_length}}
            </span>
          </p>
        </div> 
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-group first-last">
          <label>Notes </label>
          <textarea type="text" class="form-control" formControlName="notes"
          [maxlength]="max_length" placeholder="Notes"></textarea>
        </div> 
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-group first-last">
          <label>Status <span class="text-danger">*</span></label>
          <select class="form-control form-select" formControlName="status">
            <option *ngFor="let item of status_arr" [value]="item.value">
              {{item.label}}
            </option>
          </select>
        </div> 
      </div>
    </div>
  </form> -->